In [1]:
# import Libraries

import pandas as pd
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

<h1> Collecte des données </h1>

In [2]:
# extraire le prix

class NASDAQ():
    
    # avoir le details des entreprises du nasdaq
    
    api_key = "d3adc0ad134894b7b1bf044e468e5c69"
    request = requests.get(url="https://financialmodelingprep.com/api/v3/nasdaq_constituent?apikey={api_key}".format(api_key=api_key))
    details = request.json()
    
    # récuperer la liste entreprises du nasqdaq 100 
    
    def getstockList():
    
        stock_list = []
        for el in NASDAQ.details:
            stock_list.append(el['symbol'])
        return stock_list
    
    #avoir nb d'entreprise du nasdaq
    
    def getlenNasdaq():
        lenNASDAQ = len(NASDAQ.getstockList())
        return lenNASDAQ
    
    # avoir le prix et volume d'une action
    
    def getstockInfo(stock):
        
        request = requests.get(url="https://financialmodelingprep.com/api/v3/historical-price-full/{stock}?apikey={api_key}".format(api_key=NASDAQ.api_key,stock=stock))
        response = request.json()
        return response
    
    def getstockprice(stock):
        request = requests.get(url="https://financialmodelingprep.com/api/v3/historical-price-full/{stock}?serietype=line&apikey={api_key}".format(api_key=NASDAQ.api_key,stock=stock))
        response = request.json()
        return response


df = pd.DataFrame(NASDAQ.details)

In [3]:
NASDAQ.getlenNasdaq()

102

In [4]:
testdf = pd.DataFrame(NASDAQ.getstockprice('AMD'))
testdf.head()

  symbol                              historical
0    AMD  {'date': '2022-10-07', 'close': 58.44}
1    AMD  {'date': '2022-10-06', 'close': 67.85}
2    AMD  {'date': '2022-10-05', 'close': 67.94}
3    AMD   {'date': '2022-10-04', 'close': 67.9}
4    AMD  {'date': '2022-10-03', 'close': 66.11}

<h1> Data Pre-processing</h1>

<h3> Company object</h3>

In [5]:
# check missing Values

df['headQuarter'].fillna('Unknown ',inplace=True)

df.isna().sum()

symbol              0
name                0
sector              0
subSector           0
headQuarter         0
dateFirstAdded    102
cik                 0
founded             0
dtype: int64

In [6]:
# Select useFul Data
df.drop('dateFirstAdded',inplace=True,axis=1)
df.drop('cik',inplace=True,axis=1)
df.head()

,symbol,name,sector,subSector,headQuarter,founded
0,ATVI,Activision Blizzard,Communication Services,Communication Services,"Santa Monica, CALIFORNIA",1983-06-10
1,ADBE,Adobe Inc.,Technology,Technology,"San Jose, CALIFORNIA",1986-01-08
2,ADP,ADP,Industrials,Industrials,"Roseland, NEW JERSEY",1961-09-01
3,ABNB,Airbnb,Consumer Cyclical,Consumer Cyclical,"San Francisco, CA",2020-12-10
4,ALGN,Align Technology,Healthcare,Healthcare,"San Jose, CALIFORNIA",2001-01-26

<h3> Stock object</h3>

In [7]:
stock = pd.DataFrame(NASDAQ.getstockInfo('AMD')['historical'])

stock.head()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2022-10-07,64.0101,64.03,58.220,58.44,58.44,162805756.0,162805756.0,-5.5701,-8.702,60.23000,"October 07, 22",-0.08702
1,2022-10-06,67.8200,70.29,67.661,67.85,67.85,95373642.0,95373642.0,0.0300,0.044,68.60033,"October 06, 22",0.00044
2,2022-10-05,66.5900,68.69,64.515,67.94,67.94,87053646.0,87053646.0,1.3500,2.027,67.04833,"October 05, 22",0.02027
3,2022-10-04,68.2700,69.18,67.330,67.90,67.90,77146981.0,77146981.0,-0.3700,-0.542,68.13667,"October 04, 22",-0.00542
4,2022-10-03,64.4600,66.91,63.390,66.11,66.11,81399733.0,81399733.0,1.6500,2.560,65.47000,"October 03, 22",0.02560

In [8]:
# check missing values 

stock.isna().sum()

date                0
open                0
high                0
low                 0
close               0
adjClose            0
volume              0
unadjustedVolume    0
change              0
changePercent       0
vwap                0
label               0
changeOverTime      0
dtype: int64

In [9]:
# features selections

stock.drop(['unadjustedVolume','label','changeOverTime'],axis=1,inplace=True)

# set date to datetime format + set date as index 

stock["date"] = pd.to_datetime(stock["date"])

stock.set_index('date',inplace=True)

stock.head()

,open,high,low,close,adjClose,volume,change,changePercent,vwap
date,,,,,,,,,
2022-10-07,64.0101,64.03,58.220,58.44,58.44,162805756.0,-5.5701,-8.702,60.23000
2022-10-06,67.8200,70.29,67.661,67.85,67.85,95373642.0,0.0300,0.044,68.60033
2022-10-05,66.5900,68.69,64.515,67.94,67.94,87053646.0,1.3500,2.027,67.04833
2022-10-04,68.2700,69.18,67.330,67.90,67.90,77146981.0,-0.3700,-0.542,68.13667
2022-10-03,64.4600,66.91,63.390,66.11,66.11,81399733.0,1.6500,2.560,65.47000

In [10]:
NASDAQ.getstockList()

['ATVI',
 'ADBE',
 'ADP',
 'ABNB',
 'ALGN',
 'GOOGL',
 'GOOG',
 'AMZN',
 'AMD',
 'AEP',
 'AMGN',
 'ADI',
 'ANSS',
 'AAPL',
 'AMAT',
 'ASML',
 'AZN',
 'TEAM',
 'ADSK',
 'BIDU',
 'BIIB',
 'BKNG',
 'AVGO',
 'CDNS',
 'CHTR',
 'CTAS',
 'CSCO',
 'CTSH',
 'CMCSA',
 'CEG',
 'CPRT',
 'COST',
 'CRWD',
 'CSX',
 'DDOG',
 'DXCM',
 'DOCU',
 'DLTR',
 'EBAY',
 'EA',
 'EXC',
 'FAST',
 'FISV',
 'FTNT',
 'GILD',
 'HON',
 'IDXX',
 'ILMN',
 'INTC',
 'INTU',
 'ISRG',
 'JD',
 'KDP',
 'KLAC',
 'KHC',
 'LRCX',
 'LCID',
 'LULU',
 'MAR',
 'MRVL',
 'MTCH',
 'MELI',
 'META',
 'MCHP',
 'MU',
 'MSFT',
 'MRNA',
 'MDLZ',
 'MNST',
 'NTES',
 'NFLX',
 'NVDA',
 'NXPI',
 'ORLY',
 'OKTA',
 'ODFL',
 'PCAR',
 'PANW',
 'PAYX',
 'PYPL',
 'PEP',
 'PDD',
 'QCOM',
 'REGN',
 'ROST',
 'SGEN',
 'SIRI',
 'SWKS',
 'SPLK',
 'SBUX',
 'SNPS',
 'TMUS',
 'TSLA',
 'TXN',
 'VRSN',
 'VRSK',
 'VRTX',
 'WBA',
 'WDAY',
 'XEL',
 'ZM',
 'ZS']

<h1> Mise en Place BDD + Intégration des données</h1>

In [11]:
# create connection to db

import sqlalchemy
from sqlalchemy_utils import create_database,database_exists

user = 'saber'
pwd = '7x%j%8%VpejLCN'
db_name = "SPP"


url = "mysql+pymysql://{user}:{pwd}@127.0.0.1:3306/{db_name}".format(user=user,pwd=pwd,db_name=db_name)

con = sqlalchemy.create_engine(url)

if not database_exists(con.url):
    create_database(url)

In [12]:
# Company object integration 

df.to_sql("NASDAQ100",con)

102

In [13]:
# stock object Data integration


def stockdf(ticker):
    
    # create dataframe 
    stock_info = NASDAQ.getstockInfo(ticker)
    stock_historical = stock_info['historical']
    stock_symbol = stock_info['symbol']
    df = pd.DataFrame(stock_historical)
    
    # drop useless columns 
    df.drop(['unadjustedVolume','label','changeOverTime','adjClose'],axis=1,inplace=True)
    
    # order by date 
    df.sort_values('date',ascending=True,inplace=True)
    
    # set date column as index 
    df["date"] = pd.to_datetime(df["date"])
    df.set_index('date',inplace=True)
    
    
    return df
    


# test = stockdf('AMD').to_sql('test',con,index='date')

In [14]:

# stocklist = NASDAQ.getstockList()

# for el in stocklist:
#     stockdf(el).to_sql(el,con,index='date')

stock price history integration

In [15]:
db_name = "SPP"

url = "mysql+pymysql://{user}:{pwd}@127.0.0.1:3306/{db_name}".format(user=user,pwd=pwd,db_name=db_name)

con = sqlalchemy.create_engine(url)

if not database_exists(con.url):
    create_database(url)

In [16]:
def stockPriceDf(ticker):
    
    stock_info = NASDAQ.getstockprice(ticker)
    stock_historical = stock_info['historical']
    stock_symbol = stock_info['symbol']
    df = pd.DataFrame(stock_historical)
    
    # order by date 
    df.sort_values('date',ascending=True,inplace=True)
    
    # set date column as index 
    df["date"] = pd.to_datetime(df["date"])
    df.set_index('date',inplace=True)
    
    return df

In [17]:
stocklist = NASDAQ.getstockList()

for el in stocklist:
    stockPriceDf(el).to_sql(el,con,index='date')